@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply text-4xl my-20 p-10 text-center;
  }

  .link {
    @apply text-blue-500 text-3xl hover:underline transition;
  }

  .btn {
    @apply size-10 border border-black rounded-lg transition hover:bg-black/10;
  }

  .server {
    @apply bg-blue-500 text-white text-sm p-2 rounded-md font-bold;
  }

  .client {
    @apply bg-red-500 text-white text-sm p-2 rounded-md font-bold;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
